*{
    margin: 0;
    padding: 0;
}
.mrgn{
    margin-left: 60px;
    
}
.nav1
{
    display: flex;  
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 50px;
}
#logo_desc{
       
    color: rgb(200, 10, 10);
    /* display: inline; */
    /* position: absolute; */
    /* margin-top: 25px; */
    /* left: 175px; */
    font-size: 30px;
    font-weight: bold;
    font-family: cursive;
    text-shadow: 1px 1px rgb(168, 112, 112);
}
.nav1 input
{
    height: 20px;
    
}

#logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav1 p
{   margin-left:-10px;
    display: inline-block;
    
}
#npt{
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#search{
    width: 400px;
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    border:0.5px solid rgb(126, 126, 124);
    outline-style: none;
    
}
#submit{
    margin-left: 10px;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color: #c53247;
    border-style: none;
    color: white;
}
#submit:hover{
    background-color: rgb(240, 14, 14);
}
.nav2{
    /* border: 1px solid blue; */
    /* background-color:rgb(39, 151, 140); */
    /* background-color: #dc3545; */
    background-color:  #c53247;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    

}
.nav2 a{
    text-decoration: none;
    color: white;
    font-family:Poppins;
    font-size: 18px;
    font-weight:500;
}
.nav2 input{
    width: 80px;
    color: white;
    background-color: tomato;
    border-style: none;
    border-radius: 5px;
    height: 20px;
}
.pic{
    
    margin-top: 20px;
    height: 450px;
    background-image: url(../Styles/Back-pic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.pic p
{   color: #c53247;
    font-size: 36px;
    font-family: cursive;
    text-align:center;
    position: relative;
    top: 300px;
}
.for-you{
    margin-top: 10px;
    margin-left: 40px;
}
.for-you2
{  
    font-size: 30px;
    font-family: cursive, monospace;
    font-weight: bold;
    color: rgb(41, 40, 40);
}
.for-you #hr
{
    display: inline-block; 
    width: 80%;
    border-bottom: 8px solid gray;
    border-radius: 4px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(2, 360px);
    grid-gap: 20px;
    justify-content: center;
    margin: 20px;
}
.cards p,a{
    display: flex;
    justify-content: center;
    height: 25px;
    font-family:sans-serif;
    
}
.cards a
{
    text-decoration: none;
    color: rgb(58, 56, 56);
    font-size: 18px;
}
.cards a:hover
{
    text-decoration: underline;

}

#pic-size
{  
    margin: 10px;
    margin-bottom: 0px;
    content: '';
     border: 1px solid black;
    background-position: center; 
    background-size: cover;
    width: 220px;
    height: 240px;

}
#items
{   display: grid;
    grid-template-rows: 75% 22%;
    /* margin: 10px; */
    margin-bottom: 0px;
    justify-content: center;
    /* background-color: rgb(231, 227, 227); */
    background-color: #f5f5ef;
    border-radius: 6px;  
}
#items:hover
{
    box-shadow: 0px 8px 16px   rgb(194, 194, 194);
}
.price
{   
    font-weight: bold;
}
#vid-div
{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
#video
{
    height: 400px;
    width: 700px;
    border-radius: 8px;
}
.footer
{
    background-color: rgb(49, 61, 82);
    display: grid;
    grid-template-rows: 80px 50px 110px;
    grid-gap: 10px;
    justify-content: center;
    align-content: center;

}
.lst,.mail{
   
    /* border: 1px solid black; */
    justify-content: center;
    align-content: center;
}

#email
{
    margin-top: 40px;
    width: 400px;
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    border:0.5px solid rgb(126, 126, 124);
    outline-style: none;
    margin-left: 40px;

}
.ls ul,li{
    list-style: none;
    /* display: inline-block; */
}
.lst li{
    display: inline-block;
    margin: 20px;
}
.lst a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}
.lst a:hover{
    text-decoration: underline;
    
}
.follow{
    /* border: 1px solid green; */
    margin-bottom: 20px;
    text-align: center;
    padding: auto;
    color: white;
}
#rit {
    /* border: 1px solid black; */
    position: relative;
    top: 10px;
}
