<style>
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    .nvbr-list{
        border: 1px solid yellowgreen;
        display: flex;
        justify-content: flex-end;
    }
    .nvbr-item{
        list-style: none;
        margin: 2rem;
    }
    .nvbr-item a{
        text-decoration: none;
        color: black;
    }
    .nvbr-item:first-child{
        margin-right: auto;
        align-content: center;
        justify-content: center;
        align-items:c ;
        
    }
    #img{
        height: 50px;
        width: 100px;
        border: 1px solid gray;
    }
   
</style>