#header{
    border: 1px solid green;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;

}
#header-icon{
     display: flex;
    border: 1px solid yellow;
    align-items: center;
   
    margin: 20px;

}
#header-img
{
    height: 30px;
    width: 50px;
    padding: 20px;
}
#nav-features{
    display: flex;
    border: 1px solid blue;
    justify-self: self-end;
    padding: 10px;

}
li{
    list-style: none;
    display: inline;
}